params {
  project_folder  = "$PWD"

  idr_output = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/pipelines/nf-idr/idr_output"
  homer_output = "homer_output"

  container_homer = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/singularity_image/homer-4.11.sif"
  queue        = 'cpu_p'
}

process {
  executor = 'slurm'
  cpus     = params.cpus
  memory   = params.memory
  time     = params.time
  container = params.container_homer
}

profiles {
  local { includeConfig 'configs/local.config' }
  hpc   { includeConfig 'configs/slurm.config' }
}

