params {
  project_folder = "$PWD"

  idr_output = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/pipelines/nf-idr/idr_output"
  peaks      = "${idr_output}/*_idr.sorted.chr.bed"

  homer_output = "homer_output"
  genome       = "mm39"
  mode         = "annotate"    // annotate / motif / both

  container_homer = '/ictstr01/groups/idc/projects/uhlenhaut/jiang/singularity_image/homer-4.11_core.sif'
  extra_mounts    = "--bind /ictstr01/groups/idc/projects/uhlenhaut/jiang/reference/homer:/opt/homer"

  // Resources for annotate
  annotate_cpus   = 2
  annotate_memory = '8 GB'
  annotate_time   = '4h'

  // Resources for motif
  motif_cpus      = 4
  motif_memory    = '16 GB'
  motif_time      = '12h'
}

process {
  executor  = 'slurm'
  container = params.container_homer

  withName: 'homer_annotate' {
    cpus   = params.annotate_cpus
    memory = params.annotate_memory
    time   = params.annotate_time
  }

  withName: 'homer_motif' {
    cpus   = params.motif_cpus
    memory = params.motif_memory
    time   = params.motif_time
  }
}

profiles {
  local { includeConfig 'configs/local.config' }
  hpc   { includeConfig 'configs/slurm.config' }
}
