params {
  container_homer = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/singularity_image/homer-4.11.sif"
  queue         = 'cpu_p'
  extra_mounts  = ''
}

process {
  executor = 'slurm'
  queue          = params.queue
  clusterOptions = '--qos=cpu_normal --nice=10000 --mail-type=END,FAIL --mail-user=shan.jiang@helmholtz-munich.de'

  cpus   = params.cpus
  memory = params.memory
  time   = params.time

  container        = params.container_homer
}

singularity {
  enabled    = true
  autoMounts = true
}

