process {
  executor = 'slurm'
  queue    = 'cpu_p'

  clusterOptions = '--qos=cpu_normal --nice=10000 --mail-type=END,FAIL --mail-user=shan.jiang@helmholtz-munich.de'

  container        = params.container_homer

  containerOptions = """
    --bind /ictstr01/groups/idc/projects/uhlenhaut/jiang:/ictstr01/groups/idc/projects/uhlenhaut/jiang \
    ${params.extra_mounts}
  """.trim()

  withName: 'homer_motif' {
    cpus   = params.motif_cpus
    memory = params.motif_memory
    time   = params.motif_time
  }
}

singularity {
  enabled    = true
  autoMounts = true
}
