params {
  container_homer = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/singularity_image/homer-4.11.sif"
  queue         = 'cpu_p'
  extra_mounts  = ''
}

process {
  executor = 'slurm'
  queue          = params.queue
  clusterOptions = """
    --bind /ictstr01/groups/idc/projects/uhlenhaut/jiang:/ictstr01/groups/idc/projects/uhlenhaut/jiang \
    --qos=cpu_normal --nice=10000 --mail-type=END,FAIL --mail-user=shan.jiang@helmholtz-munich.de \
    ${params.extra_mounts}
  """.trim()
  container        = params.container_homer


  withName: 'homer_motif' {
    cpus   = params.motif_cpus
    memory = params.motif_memory
    time   = params.motif_time
  }

}


singularity {
  enabled    = true
  autoMounts = true
}

